<div class="documents-header" >
    <button *ngIf="userInfo?.role == 'USER'" style="color: black;" mat-button (click)="openAddDocumentDialog()">Add Document</button>
    <div style="width: 10px;"></div>
    <button style="color: black;" mat-button (click)="logout()">Logout</button>
  </div>
   
  <!-- Documents Table -->
  <div class="table-container">
    <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <mat-select (selectionChange)="applyStatusFilter($event.value)">
            <mat-option value="">All</mat-option>
            <mat-option *ngIf="userInfo?.role == 'USER'" value="DRAFT">Draft</mat-option>
            <mat-option value="REVOKE">Revoke</mat-option>
            <mat-option value="READY_FOR_REVIEW">Ready For Review</mat-option>
            <mat-option value="UNDER_REVIEW">Under Review</mat-option>
            <mat-option value="APPROVED">Approved</mat-option>
            <mat-option value="DECLINED">Declined</mat-option>
        </mat-select>

        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="userInfo?.role == 'REVIEWER'">
            <mat-label>Creator</mat-label>
        <mat-select (selectionChange)="applyCreatorFilter($event.value)">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let user of userList" [value]=user?.id>{{user.fullName}}</mat-option>

        </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Document Name </th>
        <td mat-cell *matCellDef="let document"> {{ document?.name }} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let document"> {{ document?.status }} </td>
      </ng-container>
  
      <!-- Creator Column -->
      <ng-container matColumnDef="creator" *ngIf="userInfo?.role === 'REVIEWER'">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Creator </th>
        <td mat-cell *matCellDef="let document"> {{ document?.creator?.fullName }} </td>
      </ng-container>
  
      <!-- Created At Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let document"> {{ document?.createdAt | date:'short' }} </td>
      </ng-container>
  
      <!-- Updated At Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Updated At </th>
        <td mat-cell *matCellDef="let document"> {{ document?.updatedAt | date:'short' }} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let document">
          <button *ngIf="userInfo?.role === 'REVIEWER' && document.status === 'UNDER_REVIEW' "  mat-icon-button (click)="editDocument(document)">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="userInfo?.role == 'USER'  && document.status === 'DRAFT' || document.status === 'REVOKED'" mat-icon-button (click)="deleteDocument(document)">
            <mat-icon>delete</mat-icon>
          </button>
          <button *ngIf="userInfo?.role == 'USER'  && document.status === 'READY_FOR_REVIEW'" mat-icon-button (click)="revokeDocument(document)">
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
          <button *ngIf="userInfo?.role == 'USER'"  mat-icon-button (click)="editDocument(document)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

  </div>
  
  <!-- Add Document Modal Template -->
  <ng-template #addDocumentTemplate>
    <form *ngIf="!loading">
      <!-- Form container with padding and background -->
      <div class="form-container">
        <!-- Modal Header with Close Button -->
        <div class="modal-header">
          <h2>Add Document</h2>
          <button mat-icon-button (click)="closeAddDocumentDialog()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
  
        <!-- Document Name Field -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Document Name</mat-label>
          <input matInput [(ngModel)]="newDocument.name" name="name" required />
        </mat-form-field>
  
        <!-- Status Field -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="newDocument.status" name="status" required>
            <mat-option value="DRAFT">Draft</mat-option>
            <mat-option value="REVOKE">Revoke</mat-option>
            <mat-option value="READY_FOR_REVIEW">Ready For Review</mat-option>
            <mat-option value="UNDER_REVIEW">Under Review</mat-option>
            <mat-option value="APPROVED">Approved</mat-option>
            <mat-option value="DECLINED">Declined</mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- File Upload Section with Custom Styling -->
        <div class="file-upload">
          <label for="fileInput" class="file-upload-label">
            <mat-icon>attach_file</mat-icon> Choose Document File
          </label>
          <input type="file" (change)="onFileChange($event)" name="file" required id="fileInput" />
        </div>
  
        <!-- Submit Button -->
        <div class="submit-button">
          <button mat-raised-button color="primary" type="submit" (click)="sendReq()">Add Document</button>
        </div>
      </div>
    </form>
    <div *ngIf="loading" class="loader-overlay">
        <mat-spinner></mat-spinner>
      </div>
  </ng-template>
   <!-- Edit Document Modal Template -->
  <ng-template #editDocumentTemplate >
    <form *ngIf="!loading">
      <!-- Form container with padding and background -->
      <div class="form-container">
        <!-- Modal Header with Close Button -->
        <div class="modal-header">
          <h2>Edit Document</h2>
          <button mat-icon-button (click)="closeAddDocumentDialog()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <!-- Status Field -->
         <!-- {{changedStatus |json}} -->
        <mat-form-field appearance="fill" class="full-width" *ngIf="userInfo?.role === 'REVIEWER'">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="changedStatus" name="status" required>
            <mat-option value="UNDER_REVIEW">Under Review</mat-option>
            <mat-option value="APPROVED">Approved</mat-option>
            <mat-option value="DECLINED">Declined</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width" *ngIf="userInfo?.role === 'USER'">
            <mat-label>Document Name</mat-label>
            <input matInput [(ngModel)]="documentName" name="name" required />
          </mat-form-field>
    
        <!-- Submit Button -->
        <div class="submit-button">
          <button *ngIf="userInfo?.role === 'REVIEWER'" mat-raised-button color="primary" type="submit" (click)="changeStatus(changedStatus)">Change Document Status</button>
          <button *ngIf="userInfo?.role === 'USER'" mat-raised-button color="primary" type="submit" (click)="updateStatus(documentName)">Change Document Name</button>

        </div>
        
      </div>
    </form>
    <div *ngIf="loading" class="loader-overlay">
        <mat-spinner></mat-spinner>
      </div>
  </ng-template>
  