.documents-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color:  #5c6bc0; 
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  button {
    margin-right: 10px;
  }
  
  .table-container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  mat-header-row {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  mat-row, mat-header-row {
    text-align: center;
    padding: 8px;
  }
  
  mat-cell, mat-header-cell {
    padding: 12px 15px;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 10px;
  }
  
  mat-select {
    width: 100%;
  }
  
  mat-icon {
    font-size: 20px;
    color: #3f51b5; 
  }
  
  button.mat-icon-button {
    margin-right: 5px;
  }
  

  